{% extends "login_layout.html" %}
{% block content %}
<!-- Login Form -->
<form>
  <input type="button" class="mybutton" method="GET" value=" &laquo; BACK" onclick="history.go(-1);">
</form>
<p>&nbsp;</p>


{% if msg_company %}
    <h2>Convert CMDB Templates in NOAM Templates for:</h2>
    <h2 style="color:#004fab;" class="text-muted"><b>{{ msg_company }}</b></h2>
{% endif %}
 
<table>
  <tr>
    <form class="button" align="right" method="post" action="noam_data" enctype="multipart/form-data">
     <td><label id="#bb"> SELECT FILES
        <input type="file" name="file[]" id="file" multiple onchange="javascript:updateList()" />
      </label>
    
       <h2></h2>

        <b><div style="color:#004fab;" id="fileList"></div></b>
        <h2></h2>
        <input class="mybutton" type="submit" value="SUBMIT FILES"  class="span2">
      </td>
    </form>

  </tr>
</table>

<h2></h2>
{% if msg_to_many_files %}
    <b><font size="4" style="color:red;"><p><strong></strong> {{ msg_to_many_files}}</font>
{% else %}
  {% if msg3 %}
    <p><b><div style="color:#004fab;"> {{msg3 }}</div></b></p>
    <table>
    <tr>
      <form class="button" align="right" method="GET" action="noam_upload" enctype="multipart/form-data">
        <input onclick="move()" style="font-size:18px;font-weight:bold" class="mybutton" id="btnload" type="submit" value="RUN CONVERSION"  class="span2"></td>
      </form>
    </tr>
  </table>
  <div id="myProgress">
    <div id="myBar"></div>
  </div>
  <b><span id="status" style="color:#004fab";></span></b>
  {% endif %}
{% endif %}

{% endblock %}
