{% extends "login_layout.html" %}
{% block content %}
<!-- Login Form -->
 <p>&nbsp;</p>
 


<h2>RESCATS AND OPCATS VALIDATION:</h2>
<table>
  <tr>
    <form class="button" method="post" action="op_res_cats" enctype="multipart/form-data">
      <td><label id="#bb"> SELECT FILES
        <input type="file" multiple="" name="file[]" class="span3" /></td>
      <td> 
        {% if msg4 %}
          <p><strong></strong> {{ msg4 }}
        {% endif %}
        <input class="mybutton" type="submit" value="SUBMIT"  class="span2">
      </td>
    </form>
  </tr>
</table>


 <h2></h2>
  
<table>
  <tr>
  <form class="button" align="right" method="GET" action="op_res_cats_upload" enctype="multipart/form-data">

    <input class="mybutton" type="submit" value="RUN CONVERSION"  class="span2"></td>  
  </form>
  </tr>
    </table> 

{% endblock %}
