{% extends "login_layout.html" %}
{% block content %}

  <h2>COMPANY:</h2>
  <font size="1"><h2>(Choose the related company/project, then click on 'FILES TO UPLOAD' button.)</h2></font>

  <form class="button" action="noam" method="POST">
  {% if msg %}
    <font size="2"><p><strong></strong> {{ msg }}</font>
  {% endif %}
    <input name="company_noam">
    <input class= "mybutton" type="submit" value= "Submit">
  </form>
  
  <h2>NOAM templates:</h2>
  
  <form class="button" align="right" method="post" action="/noam_upload" enctype="multipart/form-data">
    <table>
    <tr>
      <td><label id="#bb"> Select Files
        <input type="file" multiple="" name="file[]" class="span3" /></td>
      <td> 
      {% if msg3 %}
        <p><strong></strong> {{ msg3 }}
      {% endif %}
    <input class="mybutton" type="submit" value="Submit"  class="span2"></td>
    </tr>
    </table>

  <!--<div class="image_dim">
      
    <center>
      <img src='/static/images/NOKIA-Logo-Blue.jpg' style="width: auto; height: auto;max-width: 200px;max-height: 200px">
    </center>
  </div>-->
{% endblock %}
