<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
</head>
<body>

<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- Login Form -->
    <form class="button" method="post">
      <input type="text" id="username" class="fadeIn second" name="username" placeholder="login">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

  </div>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <div class="errors" style="margin-top: 20px">
    <span style="color: red;">
        <center>
        {% for message in messages %}
          {{ message[1] }}<br>
        {% endfor %}
        </center>
    </span>
  </div>
  {% endif %}
{% endwith %}

</body>



</html>
