<!DOCTYPE html>
<html lang="en">
  <head>  
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
  </head>
  <body>
    <header>
        <h1 class="logo">&nbsp;Nokia</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}"><h1>HOME</h1></a></li>
          </ul>
          <div align="right">
            <form action="/logout" method="GET">
              <button class="mybutton" type="submit"><font size="2">LOGOUT</font></button>
            </form>
          </div>
        </nav></strong>
  
    </header>
    <style>

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 1%;
  height: 25px;
  background-color: #004fab;
}
</style>

<script>
//show cmdb oweners
function openWin() {
  var urls='{{ urls }}';
  window.open(urls);
}
//show filenames
updateList = function() {
  var input = document.getElementById('file');
  var output = document.getElementById('fileList');

  output.innerHTML = '';
  for (var i = 0; i < input.files.length; ++i) {
    output.innerHTML += '<li>' + input.files.item(i).name + '</li>';
  }
  output.innerHTML += '';
}



//function start(al) {
//  var bar = document.getElementById('progressBar');
//  var status = document.getElementById('status');
//  status.innerHTML = 'Loading'//al + "%";
//  bar.value = al;
//  al++;
//  var sim = setTimeout("start(" + al + ")", 700);
//  if (al == 100) {
//    status.innerHTML = "100%";
//    bar.value = 100;
//    clearTimeout(sim);
//    //var finalMessage = document.getElementById('finalMessage');
//    //finalMessage.innerHTML = "Process is complete";
//  }
//}
//var amountLoaded = 0;

//progress bar
var i = 0;
function move() {
  if (i == 0) {
    i = 1;
    var elem = document.getElementById("myBar");
    var status = document.getElementById('status');
    status.innerHTML = 'Loading'//al + "%";
    var width = 1;
    var id = setInterval(frame, 700);
    function frame() {
      if (width >= 100) {
        clearInterval(id);
        i = 0;
      } else {
        width++;
        elem.style.width = width + "%";
      }
    }
  }
}

</script>

    <div class="container">
       
    <h3 class=title><b>DATA VALIDATION FOR ONE ITSM CONFIGURATION</b></h3>
      {% block content %}
      {% endblock %}
    </div>
    <div class="footer">
      <div class="footer_contents">
        <div align="left"> Contact: <a href="mailto:nuno_david.martins.ext@nokia.com" style="color:#ffffff;">Martins, Nuno David (EXT - PT/Amadora)</a></div>
        <strong>Nokia internal use</strong>
      </div>
    </div>
    </body>


<script 
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
    crossorigin="anonymous">
</script>
<script 
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
    crossorigin="anonymous">
</script>
<script 
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
    crossorigin="anonymous">
</script>
   
</html>
