{% extends "login_layout.html" %}
{% block content %}

<form>
  <input type="button" class="mybutton" method="GET" value=" &laquo; BACK" onclick="history.go(-1);">
</form>


<!--company name-->
<h2 style="color:#004fab;" class="text-muted"><font size="6">{{ msg_company }}</font>
&emsp;&emsp;&emsp;&emsp;&emsp;
{% if msg_company!='Dummy Company' %}
<!--Data Model-->
  <font size="4"><b>CMDB Data Model:</b></font>
  {% if urls %}
    <input class="mybutton" type="button" value="VIEW" onclick="openWin()">
  {% else %}
    <font style="color:red;" size="3"><b>NOT AVAILABLE.</b></font>
  {% endif %}
<!--CMDB Owners-->
  <div style="width:12%; margin:auto;">
  <font size="4">CMDB Owners:</font>
    <div style="display:inline-block; width:131%;text-align:left;">
      <form>
        {% for i in email %}
          <font size="2.5"> <a href="mailto:{{i}}" style="color:black;">{{i}}</a></font>
        {% endfor %}  
      </form>
    </div>
  </div>    
{% else %}
  <p>&nbsp;</p>
{% endif%}
</h2>




    

<!--Data to validate-->
<h2>Upload data to validate:</h2>
<table>
  <tr>
    <form class="button" align="right" method="post" action="data" enctype="multipart/form-data">
     <td><label id="#bb"> SELECT FILES
        <input type="file" name="file[]" id="file" multiple onchange="javascript:updateList()" />
      </label>
    
       <h2></h2>

        <b><div style="color:#004fab;" id="fileList"></div></b>
        <h2></h2>
        <input class="mybutton" type="submit" value="SUBMIT FILES"  class="span2">

      </td>
    </form>
  </tr>
</table>

{% if msg_to_many_files %}
    <b><font size="4" style="color:red;"><p><strong></strong> {{ msg_to_many_files}}</font>
{% else %}
  {% if msg3 %}
  <h2></h2>
    {% for i in filenames %}
      <b><div style="color:#004fab;"><li>{{i}}</li></div> </b>
    {% endfor %}  
    <p><b><div style="color:#004fab;"> {{msg3 }}</div></b></p>
    <table>
    <tr>
      <form class="button" align="right" method="post" action="upload" enctype="multipart/form-data">
        <input onclick="move()" style="font-size:18px;font-weight:bold" class="mybutton" id="btnload" type="submit" value="RUN VALIDATION"  class="span2"></td>
        
      </form>
    </tr>
    </table>
   
    <!--<progress class='progressBar' id="progressBar" value="0" max="100" style="width:1400px;height:30px;"></progress>
     <b><span id="status" style="color:#004fab";></span></b>
   -->
    <div id="myProgress">
      <div id="myBar"></div>
    </div>
     <b><span id="status" style="color:#004fab";></span></b>
    <h2></h2>
    {% if msg %}
      <font size="2"><p><strong></strong> {{ msg }}</font>
    {% endif %}   
  {% endif %}
{% endif %}

 <h2></h2>

<div class="multi_upload_index">



  <h2>INPUT FILES RULES: 
    
  </h2>
  
  <ul>  
  <li><b> INPUT:</b></li>
    <ul>  
      <li><p> File extensions required: <i>xlsx</i> or <i>xls</i>;</li>
      <li><p> The files should contain data only related to <b>CI's</b> and/or <b>Sites</b>. Please, avoid hidden sheets and other sheets not related to CI's and/or Sites. The schema should be one of the followings:</li>
      <ul>  
        <li><p> A single file with 2 sheets containing data only related to Sites and CIs;</li>
        <li><p> 2 files with one sheet each, one for Sites and the other for CIs;</li>
        <li><p> 1 file only with one sheet only, containing Sites or CIs data;</li>
      </ul>
    </ul>
  </ul>

  <ul>  
  <li><b> OUTPUT:</b></li>
    <ul>  
      <li><p> a  brief report printed in the screen;</li>
      <li><p> Excel file with the data screened and the issues found (...Report_"date".xlsx).</li>
    </ul>
  </ul>
</div>
{% endblock %}
