{% extends "login_layout.html" %}
{% block content %}
 <!-- Login Form -->
<form>
  <input type="button" class="mybutton" method="GET" value=" &laquo; BACK" onclick="history.go(-1);">
</form>
<p class="big"></p>
<p class="big"></p>
	<div class="multi_upload_index">

		{% if msg_miss_file %}
			<h2 style="color:red;background-color:#ffe6e6"" class="text-muted">{{ msg_miss_file }}</h2>
		{% endif %}
		
		{% if msg17 %}
			<h2 style="color:red;background-color:#ffe6e6" class="text-muted">{{ msg17 }}</h2>
			<h2 style="color:#b30000">
				<pre>
					{{ text_mis_fields }}
				</pre>
			</h2>
			<h2 style="color:red;background-color:#ffe6e6" class="text-muted">{{ msg18 }}</h2>
		{% endif %}
		
		{% if msgCIs %}
		{% if msg_company %}
			<h2 style="color:black;background-color:#cccccc" class="text-muted"><b><font size="5">{{ msg_company }} REPORT:</font></b></h2>
		{% endif %}
		<h2 style="color:black;" class="text-muted">Below the screened file with data to upload and detailed issues (...report_"date".xlsx):</h2>
			<ul>
				{% for file in filenames %}
					<li><a href="{{url_for('uploaded_file', filename=file)}}">{{file}}</a></li>
				{% endfor %}
			</ul>
		<hr/>

		{% if msg_cmdb1 %}
			<h2 style="color:green;background-color:#ccffcc" class="text-muted">{{ msg_cmdb1 }}</h2>
		{% endif %}
		{% if msg_cmdb2 %}
			<h2 style="color:blue;background-color:#e6f2ff" class="text-muted">{{ msg_cmdb2 }}</h2>
		{% endif %}
			<h2 style="color:green">
				<pre>
					{{ text_cmdb }}
				</pre>
			</h2>
			<u><h2 style="color:black;background-color:#cccccc" class="text-muted"><font size="5">{{ msgCIs }}</font></h2></u>
		{% endif %}

		{% if msg15 %}
			<h2 style="color:#0059b3;background-color:#e6f2ff" class="text-muted">{{ msg15 }}</h2>
		{% endif %}
		<h2 style="color:#004d99;">
			<pre>
				{{ text_summary_Cis }}
			</pre>
		</h2>
		{% if msg %}
			<h2 style="color:red;background-color:#ffe6e6" class="text-muted"><iframe src="https://giphy.com/embed/TFxzSQGEkQp846Hx1b" width="80" height="20" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>{{ msg }}</h2>			
		{% endif %}
		{% if msg2 %}
			<h2 style="color:green;background-color:#ccffcc" class="text-muted"><iframe src="https://giphy.com/embed/7NUJEtLY4zXcL8GKfr" width="80" height="20" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>{{ msg2 }} </h2>
		{% endif %}
		{% if msg3 %}
			<h2 style="color:blue;background-color:#e6f2ff" class="text-muted">{{ msg3 }}</h2>
		{% endif %}
		{% if add_msg_cis %}
			<h2 style="color:red;" class="text-muted">{{ add_msg_cis }}</h2>
		{% endif %}
			<h2 style="color:#b30000">
				<pre>
					{{ text_errors_Cis }}
				</pre>
			</h2>

		{% if msg7 %}
			<h2 style="color:#e65c00;background-color:#ffe6cc" class="text-muted">{{ msg7 }}</h2>
		{% endif %}
		{% if msg8 %}
			<h2 style="color:green;background-color:#ccffcc" class="text-muted">{{ msg8 }}</h2>
		{% endif %}
		{% if msg9 %}
			<h2 style="color:blue;background-color:#e6f2ff" class="text-muted">{{ msg9 }}</h2>
		{% endif %}
		<h2 style="color:#b34700">
			<pre>
				{{ text_warnings_Cis }}
			</pre>
		</h2>
		{% if msgSites %}
		<hr/>
			<u><h2 style="color:black;background-color:#cccccc" class="text-muted"><font size="5">{{ msgSites }}</font></h2></u>
		{% endif %}
		{% if msg13 %}
			<h2 style="color:#0059b3;background-color:#e6f2ff" class="text-muted">{{ msg13 }}</h2>
		{% endif %}
		<h2 style="color:#004d99">
			<pre>
				{{ text_summary_Sites }}
			</pre>
		</h2>
		{% if msg4 %}
			<h2 style="color:red;background-color:#ffe6e6" class="text-muted"><iframe src="https://giphy.com/embed/TFxzSQGEkQp846Hx1b" width="80" height="20" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>{{ msg4 }}</h2>
		{% endif %}
		{% if msg5 %}
			<h2 style="color:green;background-color:#ccffcc" class="text-muted"><iframe src="https://giphy.com/embed/7NUJEtLY4zXcL8GKfr" width="80" height="20" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>{{ msg5 }}</h2>
		{% endif %}
		{% if msg6 %}
			<h2 style="color:blue;background-color:#e6f2ff" class="text-muted">{{ msg6 }}</h2>
		{% endif %}
		{% if add_msg_sites %}
			<h2 style="color:red;" class="text-muted">{{ add_msg_sites }}</h2>
		{% endif %}

		<h2 style="color:#b30000">
			<pre>
				{{ text_errors_Sites }}
			</pre>
		</h2>
		{% if msg10 %}
			<h2 style="color:#e65c00;background-color:#ffe6cc" class="text-muted">{{ msg10 }}</h2>
		{% endif %}
		{% if msg11 %}
			<h2 style="color:green;background-color:#ccffcc" class="text-muted">{{ msg11 }}</h2>
		{% endif %}
		{% if msg12 %}
			<h2 style="color:blue;background-color:#e6f2ff" class="text-muted">{{ msg12 }}</h2>
		{% endif %}
		<h2 style="color:#b34700">
			<pre>
				{{ text_warnings_Sites }}
			</pre>
		</h2>


		

	</div>
 {% endblock %}  
