{% extends "login_layout.html" %}
{% block content %}
<!-- Login Form -->
<div align="right">
    <form action="/logout" method="GET">
        <button class="mybutton" class="fadeIn fourth" type="submit" value="Logout">Logout</button>
    </form>
</div>
	<div class="multi_upload_index">
		<h2 class="text-muted">NOAM FILES:</h2>

			<p>Below the file with data to upload in NOAM template format: .</p>
			<ul>
				{% for file in noam_filenames %}
					<li><a href="{{url_for('uploaded_NOAM_file', filename=file)}}">{{file}}</a></li>
				{% endfor %}
			</ul>
	</div>
 {% endblock %}  
