{% extends "login_layout.html" %}
{% block content %}
<!-- Login Form -->
<form>
  <input type="button" class="mybutton" method="GET" value=" &laquo; BACK" onclick="history.go(-1);">
</form>
<p class="big"></p>
<p class="big"></p>
	
	<div class="multi_upload_index">
		{% if msg_company %}
			<h2 style="color:black;background-color:#cccccc" class="text-muted"><b><font size="5">{{ msg_company }} REPORT:</font></b></h2>
		{% endif %}

		<h2 style="color:black;background-color:#cccccc" class="text-muted">Below the files and the report (xlsx in case of issues, xlsm if no issues):</h2>
		<ul>
			{% for file in op_res_filenames %}
				<li><a href="{{url_for('uploaded_RES_CATS_file', filename=file)}}">{{file}}</a></li>
			{% endfor %}
		</ul>
		<hr/>
		{% if msg_res %}
			<u><h2 style="color:black;background-color:#cccccc" class="text-muted">{{ msg_res }}</h2></u>
		{% endif %}
		{% if msg_fields_res %}
			<h2 style="color:red;background-color:#ffe6e6" class="text-muted">{{ msg_fields_res }}</h2>
			<h2 style="color:#b30000">
				<pre>
					{{ text_mis_fields_res }}
				</pre>
			</h2>
		{% endif %}
		
		
		{% if msg %}
			<h2 style="color:red;background-color:#ffe6e6" class="text-muted">{{ msg }}</h2>
		{% endif %}
		{% if msg2 %}
			<h2 style="color:green;background-color:#ccffcc" class="text-muted">{{ msg2 }}</h2>
		{% endif %}
		{% if msg3 %}
			<h2 style="color:blue;background-color:#e6f2ff" class="text-muted">{{ msg3 }}</h2>
		{% endif %}
		{% if add_msg_res %}
			<h2 style="color:red;" class="text-muted">{{ add_msg_res }}</h2>
		{% endif %}
			<h2 style="color:#b30000">
				<b><pre>
					{{ text_res }}
				</pre></b>
			</h2>
		{% if msg_ops %}
			<u><h2 style="color:black;background-color:#cccccc" class="text-muted">{{ msg_ops }}</h2></u>
		{% endif %}
		{% if msg_fields_ops %}
			<h2 style="color:red;background-color:#ffe6e6" class="text-muted">{{ msg_fields_ops }}</h2>
			<h2 style="color:#b30000">
				<pre>
					{{ text_mis_fields_ops }}
				</pre>
			</h2>
			
		{% endif %}
		{% if msg4 %}
			<h2 style="color:red;background-color:#ffe6e6" class="text-muted">{{ msg4 }}</h2>
		{% endif %}
		{% if msg5 %}
			<h2 style="color:green;background-color:#ccffcc" class="text-muted">{{ msg5 }}</h2>
		{% endif %}
		{% if msg6 %}
			<h2 style="color:blue;background-color:#e6f2ff" class="text-muted">{{ msg6 }}</h2>
		{% endif %}
		{% if add_msg_op %}
			<h2 style="color:red;" class="text-muted">{{ add_msg_op }}</h2>
		{% endif %}
			<h2 style="color:#b30000">
				<b><pre>
					{{ text_ops }}
				</pre></b>
			</h2>
	</div>
 {% endblock %} 
